<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleIdentifier</key>
	<string>org.darwinx86.driver.Darwinx86HDAALC889Injector</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Realtek ALC889a HDA Injector</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>BuiltInHDA</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleHDAController</string>
			<key>IOClass</key>
			<string>AppleHDAController</string>
			<key>IOPCIClassMatch</key>
			<string>0x04020000&amp;0xFFFE0000</string>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>HDAConfigDefault</key>
			<array>
				<dict>
					<key>CodecID</key>
					<integer>283904133</integer>
					<key>ConfigData</key>
					<data>IYccECGHHZAhhx6gIYcfkCGXHCAhlx2QIZceoSGXHwIhpxyAIacdMCGnHoEhpx8BIbcckCG3HUAhtx4hIbcfAiFHHDAhRx1AIUceESFHHwEhVxxAIVcdECFXHgEhVx8BIWccUCFnHWAhZx4BIWcfASF3HGAhdx0gIXceASF3HwEh5xxwIecdYSHnHksh5x8BIfccoCH3HQEh9x7LIfcfAQ==</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>889</integer>
				</dict>
			</array>
		</dict>
		<key>HDA Platform Resource</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleHDAPlatformDriver</string>
			<key>IOClass</key>
			<string>AppleHDAPlatformDriver</string>
			<key>IOMatchCategory</key>
			<string>AppleHDAPlatformDriver</string>
			<key>IOProviderClass</key>
			<string>AppleHDAPlatformDriverLoader</string>
			<key>Layouts</key>
			<array>
				<dict>
					<key>LayoutID</key>
					<integer>889</integer>
					<key>PathMapRef</key>
					<array>
						<dict>
							<key>CodecID</key>
							<array>
								<integer>283904133</integer>
							</array>
							<key>Headphone</key>
							<dict/>
							<key>Inputs</key>
							<array>
								<string>LineIn</string>
								<string>SPDIFIn</string>
								<string>Mic</string>
							</array>
							<key>IntSpeaker</key>
							<dict>
								<key>MaximumBootBeepValue</key>
								<integer>64</integer>
								<key>MuteGPIO</key>
								<integer>0</integer>
							</dict>
							<key>LineIn</key>
							<dict>
								<key>MuteGPIO</key>
								<integer>838926362</integer>
							</dict>
							<key>LineOut</key>
							<dict>
								<key>MuteGPIO</key>
								<integer>1</integer>
							</dict>
							<key>Mic</key>
							<dict>
								<key>MuteGPIO</key>
								<integer>1342242840</integer>
								<key>SignalProcessing</key>
								<dict>
									<key>SoftwareDSP</key>
									<dict>
										<key>DspFunction0</key>
										<dict>
											<key>FunctionInfo</key>
											<dict>
												<key>DspFuncInstance</key>
												<integer>0</integer>
												<key>DspFuncName</key>
												<string>DspNoiseReduction</string>
												<key>DspFuncProcessingIndex</key>
												<integer>0</integer>
											</dict>
											<key>ParameterInfo</key>
											<dict>
												<key>1</key>
												<integer>0</integer>
												<key>2</key>
												<integer>1</integer>
												<key>3</key>
												<integer>0</integer>
												<key>4</key>
												<integer>-1075482860</integer>
												<key>5</key>
												<data>LT6HwnIjdMI6p3/CWImHwqIThsI2sH3Ctv91wgokd8ItYYDCk76GwhTehsL274PCloWGwu91jMJPtpHCUJORwm3Ik8JWMZnCq0Cbwh8tncKyJJ7C8KebwnjpmcLG/JrCN3Oawn2BmcLrGp3CmEuhwrEhosIsSqLCLB6jwpyEo8JXJ6TCHZGjwpU2osIBN6LCDCejwgZWo8LrlqPC/N+kwhDSpMLKhKTCYa+jwtn7osJVoaPCTISkwqcQpcLuYqXC9qGlwt+7pcLS8KXCx0KmwmRbpsLMZabCs2amwudkpsJWDKbCINilwnpVpsJIaqbC4HGmwqvmpsKo76bCaBynwsJMp8KcqKfCQbGnwmzxp8IU+qfCoP+nwjYhqMISRqjCsqqowuUfqcIWEqnClg2pwokFqcKVFanCGDipwuwqqcJLH6nC0X2pwouLqcJqs6nCyvKpwvhJqsKOkqrCIHKqwmGFqsJwoqrCpaWqwqOeqsIL7qrCPB2rwgL4qsKOAavCixarwtbTqsJ88qrCncOrwihhrMIui6zCxryswuQnrcKybq3CsNmtwu7wrcLHQ67CnBGwwrQuscK/M7LC8j2zwqiRtMJmU7bC64O4whv9usLMa73C3kjAwjp7w8LAQcfCnNDLwnzw0MKTMtbCFX3cwhhF5MLQYu3CWAD3wrQw/sL2qQfD</data>
											</dict>
											<key>PatchbayInfo</key>
											<dict/>
										</dict>
										<key>DspFunction1</key>
										<dict>
											<key>FunctionInfo</key>
											<dict>
												<key>DspFuncInstance</key>
												<integer>1</integer>
												<key>DspFuncName</key>
												<string>DspEqualization32</string>
												<key>DspFuncProcessingIndex</key>
												<integer>1</integer>
											</dict>
											<key>ParameterInfo</key>
											<dict>
												<key>1</key>
												<integer>0</integer>
												<key>Filter</key>
												<array>
													<dict>
														<key>2</key>
														<integer>2</integer>
														<key>3</key>
														<integer>0</integer>
														<key>4</key>
														<integer>0</integer>
														<key>5</key>
														<integer>1</integer>
														<key>6</key>
														<integer>1119920983</integer>
														<key>7</key>
														<integer>1060439283</integer>
														<key>8</key>
														<integer>0</integer>
													</dict>
													<dict>
														<key>2</key>
														<integer>2</integer>
														<key>3</key>
														<integer>1</integer>
														<key>4</key>
														<integer>0</integer>
														<key>5</key>
														<integer>1</integer>
														<key>6</key>
														<integer>1112316282</integer>
														<key>7</key>
														<integer>1060439283</integer>
														<key>8</key>
														<integer>1101418887</integer>
													</dict>
													<dict>
														<key>2</key>
														<integer>2</integer>
														<key>3</key>
														<integer>4</integer>
														<key>4</key>
														<integer>0</integer>
														<key>5</key>
														<integer>4</integer>
														<key>6</key>
														<integer>1134326036</integer>
														<key>7</key>
														<integer>1083545696</integer>
														<key>8</key>
														<integer>-1073319056</integer>
													</dict>
													<dict>
														<key>2</key>
														<integer>2</integer>
														<key>3</key>
														<integer>5</integer>
														<key>4</key>
														<integer>0</integer>
														<key>5</key>
														<integer>4</integer>
														<key>6</key>
														<integer>1142413098</integer>
														<key>7</key>
														<integer>1088954957</integer>
														<key>8</key>
														<integer>-1071182965</integer>
													</dict>
													<dict>
														<key>2</key>
														<integer>2</integer>
														<key>3</key>
														<integer>6</integer>
														<key>4</key>
														<integer>0</integer>
														<key>5</key>
														<integer>4</integer>
														<key>6</key>
														<integer>1139170876</integer>
														<key>7</key>
														<integer>1084383454</integer>
														<key>8</key>
														<integer>-1071182965</integer>
													</dict>
													<dict>
														<key>2</key>
														<integer>2</integer>
														<key>3</key>
														<integer>7</integer>
														<key>4</key>
														<integer>0</integer>
														<key>5</key>
														<integer>4</integer>
														<key>6</key>
														<integer>1145529074</integer>
														<key>7</key>
														<integer>1086134083</integer>
														<key>8</key>
														<integer>-1072785033</integer>
													</dict>
													<dict>
														<key>2</key>
														<integer>2</integer>
														<key>3</key>
														<integer>8</integer>
														<key>4</key>
														<integer>0</integer>
														<key>5</key>
														<integer>4</integer>
														<key>6</key>
														<integer>1148318375</integer>
														<key>7</key>
														<integer>1083773101</integer>
														<key>8</key>
														<integer>-1075032379</integer>
													</dict>
													<dict>
														<key>2</key>
														<integer>2</integer>
														<key>3</key>
														<integer>15</integer>
														<key>4</key>
														<integer>0</integer>
														<key>5</key>
														<integer>0</integer>
														<key>6</key>
														<integer>1176669123</integer>
														<key>7</key>
														<integer>1060439283</integer>
														<key>8</key>
														<integer>1042057464</integer>
													</dict>
												</array>
											</dict>
											<key>PatchbayInfo</key>
											<dict>
												<key>InputPort0</key>
												<dict>
													<key>PortInstance</key>
													<integer>0</integer>
													<key>PortWidth</key>
													<integer>1</integer>
													<key>SourceFuncInstance</key>
													<integer>0</integer>
													<key>SourcePortIndex</key>
													<integer>0</integer>
												</dict>
												<key>InputPort1</key>
												<dict>
													<key>PortInstance</key>
													<integer>1</integer>
													<key>PortWidth</key>
													<integer>1</integer>
													<key>SourceFuncInstance</key>
													<integer>0</integer>
													<key>SourcePortIndex</key>
													<integer>1</integer>
												</dict>
											</dict>
										</dict>
									</dict>
								</dict>
							</dict>
							<key>Outputs</key>
							<array>
								<string>Headphone</string>
								<string>LineOut</string>
								<string>IntSpeaker</string>
								<string>SPDIFOut</string>
							</array>
							<key>PathMapID</key>
							<integer>889</integer>
							<key>SPDIFIn</key>
							<dict/>
							<key>SPDIFOut</key>
							<dict/>
						</dict>
					</array>
				</dict>
			</array>
			<key>PathMaps</key>
			<array>
				<dict>
					<key>PathMap</key>
					<array>
						<array>
							<array>
								<array>
									<dict>
										<key>Amp</key>
										<dict>
											<key>Channels</key>
											<array>
												<dict>
													<key>Bind</key>
													<integer>1</integer>
													<key>Channel</key>
													<integer>1</integer>
												</dict>
												<dict>
													<key>Bind</key>
													<integer>2</integer>
													<key>Channel</key>
													<integer>2</integer>
												</dict>
											</array>
											<key>MuteInputAmp</key>
											<true/>
											<key>PublishMute</key>
											<true/>
											<key>PublishVolume</key>
											<true/>
											<key>VolumeInputAmp</key>
											<true/>
										</dict>
										<key>NodeID</key>
										<integer>9</integer>
										<key>ProcessingState</key>
										<true/>
									</dict>
									<dict>
										<key>Boost</key>
										<integer>3</integer>
										<key>NodeID</key>
										<integer>34</integer>
									</dict>
									<dict>
										<key>NodeID</key>
										<integer>24</integer>
										<key>VREF</key>
										<integer>80</integer>
									</dict>
								</array>
							</array>
						</array>
						<array>
							<array>
								<array>
									<dict>
										<key>Amp</key>
										<dict>
											<key>Channels</key>
											<array>
												<dict>
													<key>Bind</key>
													<integer>1</integer>
													<key>Channel</key>
													<integer>1</integer>
												</dict>
												<dict>
													<key>Bind</key>
													<integer>2</integer>
													<key>Channel</key>
													<integer>2</integer>
												</dict>
											</array>
											<key>MuteInputAmp</key>
											<true/>
											<key>PublishMute</key>
											<true/>
											<key>PublishVolume</key>
											<true/>
											<key>VolumeInputAmp</key>
											<true/>
										</dict>
										<key>NodeID</key>
										<integer>8</integer>
									</dict>
									<dict>
										<key>Boost</key>
										<string>3</string>
										<key>NodeID</key>
										<integer>35</integer>
									</dict>
									<dict>
										<key>NodeID</key>
										<integer>26</integer>
									</dict>
								</array>
							</array>
						</array>
						<array>
							<array>
								<array>
									<dict>
										<key>NodeID</key>
										<integer>10</integer>
									</dict>
									<dict>
										<key>DetectAssistant</key>
										<string>10</string>
										<key>DetectDelegate</key>
										<string>32</string>
										<key>NodeID</key>
										<integer>31</integer>
									</dict>
								</array>
							</array>
						</array>
						<array>
							<array>
								<array>
									<dict>
										<key>NodeID</key>
										<integer>20</integer>
										<key>DetectDelegate</key>
										<string>27</string>
									</dict>
									<dict>
										<key>Amp</key>
										<dict>
											<key>Channels</key>
											<array>
												<dict>
													<key>Bind</key>
													<integer>1</integer>
													<key>Channel</key>
													<integer>1</integer>
												</dict>
												<dict>
													<key>Bind</key>
													<integer>2</integer>
													<key>Channel</key>
													<integer>2</integer>
												</dict>
											</array>
											<key>MuteInputAmp</key>
											<true/>
											<key>PublishMute</key>
											<true/>
											<key>PublishVolume</key>
											<true/>
											<key>VolumeInputAmp</key>
											<false/>
										</dict>
										<key>NodeID</key>
										<integer>12</integer>
									</dict>
									<dict>
										<key>NodeID</key>
										<integer>2</integer>
									</dict>
								</array>
							</array>
							<array>
								<array>
									<dict>
										<key>NodeID</key>
										<integer>27</integer>
									</dict>
									<dict>
										<key>Amp</key>
										<dict>
											<key>Channels</key>
											<array>
												<dict>
													<key>Bind</key>
													<integer>1</integer>
													<key>Channel</key>
													<integer>1</integer>
												</dict>
												<dict>
													<key>Bind</key>
													<integer>2</integer>
													<key>Channel</key>
													<integer>2</integer>
												</dict>
											</array>
											<key>MuteInputAmp</key>
											<true/>
											<key>PublishMute</key>
											<true/>
											<key>PublishVolume</key>
											<true/>
											<key>VolumeInputAmp</key>
											<false/>
										</dict>
										<key>NodeID</key>
										<integer>38</integer>
									</dict>
									<dict>
										<key>NodeID</key>
										<integer>37</integer>
									</dict>
								</array>
							</array>
						</array>
						<array>
							<array>
								<array>
									<dict>
										<key>NodeID</key>
										<integer>21</integer>
									</dict>
									<dict>
										<key>Amp</key>
										<dict>
											<key>Channels</key>
											<array>
												<dict>
													<key>Bind</key>
													<integer>1</integer>
													<key>Channel</key>
													<integer>1</integer>
												</dict>
												<dict>
													<key>Bind</key>
													<integer>2</integer>
													<key>Channel</key>
													<integer>2</integer>
												</dict>
											</array>
											<key>MuteInputAmp</key>
											<true/>
											<key>PublishMute</key>
											<true/>
											<key>PublishVolume</key>
											<true/>
											<key>VolumeInputAmp</key>
											<false/>
										</dict>
										<key>NodeID</key>
										<integer>13</integer>
									</dict>
									<dict>
										<key>NodeID</key>
										<integer>3</integer>
									</dict>
								</array>
							</array>
						</array>
						<array>
							<array>
								<array>
									<dict>
										<key>NodeID</key>
										<integer>22</integer>
									</dict>
									<dict>
										<key>Amp</key>
										<dict>
											<key>Channels</key>
											<array>
												<dict>
													<key>Bind</key>
													<integer>1</integer>
													<key>Channel</key>
													<integer>1</integer>
												</dict>
												<dict>
													<key>Bind</key>
													<integer>2</integer>
													<key>Channel</key>
													<integer>2</integer>
												</dict>
											</array>
											<key>MuteInputAmp</key>
											<true/>
											<key>PublishMute</key>
											<true/>
											<key>PublishVolume</key>
											<true/>
											<key>VolumeInputAmp</key>
											<false/>
										</dict>
										<key>NodeID</key>
										<integer>14</integer>
									</dict>
									<dict>
										<key>NodeID</key>
										<integer>4</integer>
									</dict>
								</array>
							</array>
						</array>
						<array>
							<array>
								<array>
									<dict>
										<key>NodeID</key>
										<integer>30</integer>
									</dict>
									<dict>
										<key>NodeID</key>
										<integer>6</integer>
									</dict>
								</array>
							</array>
						</array>
					</array>
					<key>PathMapID</key>
					<integer>889</integer>
				</dict>
			</array>
		</dict>
	</dict>
	<key>OSBundleRequired</key>
	<string>Root</string>
</dict>
</plist>
